html {
    background-image: linear-gradient(grey, black);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: FiraCode;
}