* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "FiraCode";
    src: url(../font/FiraCode-Regular.ttf) format('truetype');
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

body {
    background-image: linear-gradient(grey, black);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: FiraCode;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.title {
    font-size: 50px;
    color: white;
}

.navbar-toggler {
    margin: auto;
}

ul.navbar-nav .nav-item .nav-link {
  font-size: 20px;
  margin: 10px 30px;
  cursor: pointer;
  transition: 0.2s ease;
  color: white;
}

#google:hover,
#stackoverflow:hover,
#discord:hover,
#github:hover,
#gitlab:hover,
#codepen:hover,
#download:hover {
  transform: scale(2.0);
  transition: 0.2s ease;
  color: indianred;
}

/* bubble style */
.hoverBubble {
  background: #333333;
  color: #ffffff;
  cursor: pointer;
  opacity: 0;
  padding: 5px;
  position: absolute;
  text-align: left;
  visibility: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.bubblePosition {
  bottom: 115%;
  height: inherit;
  left: 0;
  min-height: 35px;
  top: auto;
  width: 170px;
}

.hoverBubble:after,
.bubblePosition:after {
  border: 8px solid transparent;
  border-top-color: #333333;
  bottom: -15px;
  content: '';
  height: 0px;
  left: 5%;
  margin: 0 auto;
  position: absolute;
  width: 0px;
}

/* bubble hover */
#download:hover .hoverBubble {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

/* content in the bubble */
.hoverBubble i {
  display: block;
  text-align: center;
}

.redBubble h3,
.redBubble i {
  color: #b23333;
}

.redBubble p {
  color: whitesmoke;
  font-size: 9px;
  text-align: center;
}

.flexity {
  display: flex;
  justify-content: center;
  align-content: center;
}

.flexity i {
  float: left;
  padding: 0px 10px;
  margin-bottom: 10px;
}

.swal2-modal {
  background-image: linear-gradient(grey, black);
}

.swal2-html-container {
  color: whitesmoke;
}

.swal2-timer-progress-bar {
  background-color: whitesmoke;
}

.puzzle1field {
  color: whitesmoke;
  background-image: linear-gradient(grey, white);
}

