

@media only screen and (max-width: 961px) {
    .one {
        left: -3%;
        top: 50%;
      }
      
      .two {
        left: 15%;
        top: 50%;
      }
      
      .three {
        left: 52%;
        top: 50%;
      }
      
      .four {
        left: 70%;
        top: 50%;
      }
      
      .five {
        left: 33%;
        top: 50%;
      }
}

@media only screen and (max-width: 801px) {
    .one {
        left: -3%;
        top: 50%;
      }
      
      .two {
        left: 15%;
        top: 50%;
      }
      
      .three {
        left: 52%;
        top: 50%;
      }
      
      .four {
        left: 70%;
        top: 50%;
      }
      
      .five {
        left: 33%;
        top: 50%;
      }
}

@media only screen and (max-width: 768px) {
    ul.navbar-nav, ul.navbar-nav li {
      display: inline-block;
    }
  
    ul.navbar-nav .nav-item .nav-link {
      margin: 10px 20px;
    }
  
    .one {
      left: -10%;
      top: 50%;
    }
    
    .two {
      left: -9%;
      top: 75%;
    }
    
    .three {
      left: 50%;
      top: 50%;
    }
    
    .four {
      left: 50%;
      top: 75%;
    }
    
    .five {
      left: 20%;
      top: 62%;
    }
}

@media only screen and (max-width: 600px) {
    .one {
        left: 0%;
        top: 50%;   
    }
    
    .two {
        left: 0%;
        top: 75%;
    }
    
    .three {
        left: 60%;
        top: 50%;
    }
    
    .four {
        left: 60%;
        top: 75%;
    }
    
    .five {
        left: 30%;
        top: 62%;
    }
}

@media only screen and (max-width: 480px) {
    .one {
        left: -18%;
        top: 75%;     
    }
    
    .two {
        left: -9%;
        top: 75%;
    }
    
    .three {
        left: 58%;
        top: 50%;
    }
    
    .four {
        left: 58%;
        top: 75%;
    }
    
    .five {
        left: 24%;
        top: 62%;
    }
}

@media only screen and (max-width: 320px) {
    .one {
      left: -20%;
      top: 50%;
    }
    
    .two {
      left: -18%;
      top: 75%;
    }
    
    .three {
      left: 42%;
      top: 50%;
    }
    
    .four {
      left: 43%;
      top: 75%;
    }
    
    .five {
      left: 13%;
      top: 62%;
    }
}